<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CRUD.UserMapper">
    <select id="selectUserById" parameterType="int" resultType="po.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="selectUserByName" parameterType="string" resultType="po.User">
        SELECT * FROM user WHERE username like "%${value}%"
    </select>

    <insert id="insertUser" parameterType="po.User" useGeneratedKeys="true">
        INSERT INTO user (username, sex, address) VALUES (#{username}, #{sex}, #{address})
    </insert>

    <update id="updateUserById" parameterType="po.User">
        UPDATE user SET username = #{username}, sex = #{sex}, address = #{address}
        WHERE id = #{id}
    </update>
</mapper>