<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oneToManyMapper.CardMapper">
    <select id="selectCardById" parameterType="int" resultType="po.Card">
        SELECT * FROM card where id = #{id}
    </select>
    <select id="selectCardByUserId" parameterType="int" resultType="po.Card">
        SELECT * FROM card where userId = #{id}
    </select>
    <select id="selectCardsMoreThanScore" parameterType="int" resultType="po.Card">
        SELECT * FROM oder WHERE score > #{score}
    </select>
    <select id="selectCardsLessThanScore" parameterType="int" resultType="po.Card">
        SELECT * FROM card WHERE score > #{score}
    </select>
    <select id="selectCardsEqualToScore" parameterType="int" resultType="po.Card">
        SELECT * FROM card WHERE score = #{score}
    </select>

    <select id="selectCardsWithUserIdAndScore" parameterType="map" resultType="po.Card">
        SELECT * FROM card WHERE userId=#{id} and score > #{score}
    </select>

</mapper>