<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oneToManyMapper.UserMapper">

    <!-- 复杂查询 -->
    <select id="selectUserWithLessonById" parameterType="int" resultMap="userAndLessonMapper">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <resultMap id="userAndLessonMapper" type="po.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>
        <collection property="lessons" column="id" javaType="ArrayList"
                    ofType="po.Lesson" fetchType="lazy"
                    select="oneToManyMapper.LessonMapper.selectLessonByUserId">
            <id property="id" column="id"/>
            <result property="code" column="code"/>
            <result property="score" column="score"/>
        </collection>
    </resultMap>

    <!--<select id="selectUserWithLessonById" parameterType="map" resultMap="userAndCarMapper">-->
        <!--SELECT * FROM user WHERE id = #{id}-->
    <!--</select>-->
    <!--<resultMap id="userAndCarMapper" type="po.User">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="username" column="username"/>-->
        <!--<result property="sex" column="sex"/>-->
        <!--<result property="address" column="address"/>-->
        <!--<collection property="lessons" column="{userId=id,}" javaType="ArrayList"-->
                    <!--ofType="po.Lesson" fetchType="lazy"-->
                    <!--select="oneToManyMapper.LessonMapper.selectLessonByUserId">-->
            <!--<id property="id" column="id"/>-->
            <!--<result property="code" column="code"/>-->
            <!--<result property="score" column="score"/>-->
        <!--</collection>-->
    <!--</resultMap>-->
</mapper>